.card {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #DDDDDD;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

.button {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border-style: none;
    margin-top: 3px;
    cursor: pointer;
    background-color: #FFCE22;
}

.button:hover {
    background-color: #FFD84D;
}

.menuWithCheckbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
}

.customCheckbox {
    display: flex;
    position: relative;
    cursor: pointer;

    /* hide origin checkbox */
    input {
        position: absolute;
        opacity: 0;
        right: 30px;
    }

    /* custom checkbox */
    .checkmark {
        height: 23px;
        width: 23px;
        border: 1px solid #BDBDBD;
        border-radius: 6px;
    }

    .checkmark:hover {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
        border: 1px solid #CCCCCC;
    }

    /* checked when the .custom-checkbox is selected */
    input:checked~.checkmark {
        background-color: #2469F6;
        border-color: #5087F8;
    }

    input:checked~.checkmark:hover {
        background-color: #5087F8;
        border-color: #5087F8;
    }

    /* create checked mark */
    .checkmark::after {
        content: "";
        position: absolute;
        display: none;
    }

    input:checked~.checkmark::after {
        display: block;
        width: 5px;
        height: 10px;
        margin: 2px 7px;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }
}