.card {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #DDDDDD;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

.button {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border-style: none;
    margin-top: 3px;
    cursor: pointer;
    background-color: #f5bc20;
}

.button:hover {
    background-color: #f8d470;
}

.button:active {
    background-color: #f0c140;
}

.menuWithCheckbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
}

.customCheckbox {
    display: flex;
    position: relative;
    cursor: pointer;

    /* hide origin checkbox */
    input {
        position: absolute;
        opacity: 0;
        right: 30px;
    }

    /* custom checkbox */
    .checkmark {
        height: 22px;
        width: 22px;
        border: 1px solid #AAAAAA;
        border-radius: 5px;
    }

    .checkmark:hover {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
        border: 1px solid #CCCCCC;
    }

    /* checked when the .custom-checkbox is selected */
    input:checked~.checkmark {
        background-color: #1a6ece;
        border-color: #4a93c4;
    }

    /* create checked mark */
    .checkmark::after {
        content: "";
        position: absolute;
        display: none;
    }

    input:checked~.checkmark::after {
        display: block;
        width: 5px;
        height: 10px;
        margin: 2px 7px;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }
}