@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;200;600;700&display=swap');

body {
    font-family: 'Nunito', sans-serif;
}


.container {
    margin: 100px auto;
    width: 400px;
}

.card {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #DDDDDD;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

.button {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border-style: none;
    margin-top: 3px;
    cursor: pointer;
    background-color: #f5bc20;
}

.button:hover {
    background-color: #f8d470;
}

.button:active {
    background-color: #f0c140;
}

hr {
    width: 100%;
    height: 1px;
    background: #cccccc;
    border: none;
    margin: 15px auto;
}

.menu-with-checkbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
}

.custom-checkbox {
    display: flex;
    position: relative;
    cursor: pointer;
}

/* hide origin checkbox */
.custom-checkbox input {
    position: absolute;
    opacity: 0;
    right: 30px;
}

/* custom checkbox */
.custom-checkbox .checkmark {
    height: 20px;
    width: 20px;
    border: 1px solid #AAAAAA;
    border-radius: 5px;
}

.custom-checkbox .checkmark:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    border: 1px solid #CCCCCC;
}

/* checked when the .custom-checkbox is selected */
.custom-checkbox input:checked~.checkmark {
    background-color: #1a6ece;
    border-color: #4caf50;
}

/* create checked mark */
.custom-checkbox .checkmark::after {
    content: "";
    position: absolute;
    display: none;
}

.custom-checkbox input:checked~.checkmark::after {
    display: block;
    width: 6px;
    height: 12px;
    margin: 1px 6px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}